<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<div class="card">
  <div class="form">

  <input type="text" class="text " [(ngModel)]="text" placeholder="search here">
    <button (click)="search()"></button>
  </div>
  <section class="light">
    <label>
  <input class='input' type="radio" name="searchField" [value]="true" [(ngModel)]="isTag" checked>
      <span class="design"></span>
    <span  class="radioText">tag  </span>
    </label>
    <label>
  <input class='input' type="radio" name="searchField" [value]="false" [(ngModel)]="isTag">
      <span class="design"></span>
    <span class="radioText">title</span>
    </label>
  </section>
</div>
<ng-container *ngIf="articles.length">
  <articles [articles]="articles"></articles>
</ng-container>
<div class="card ">
  <ng-container  *ngIf="!articles.length">
   <p  class="nothing"> Nothing to show you now </p>
  </ng-container>
</div>
