<div class="card">
  <button (click)="search()">search</button>
  <input type="text" [(ngModel)]="text" placeholder="search here">
  <input type="radio" name="searchField" [value]="true" [(ngModel)]="isTag">tag
  <input type="radio" name="searchField" [value]="false" [(ngModel)]="isTag">title
</div>
<ng-container *ngIf="articles.length">
  <ng-container *ngFor="let article of articles
    | paginate: { itemsPerPage: ITEMS_PER_PAGE, currentPage: PAGE }">
    <div class="card">
      <p class="title">{{article.title}}</p>
      <p class="upated">last update: {{article.updatedAt | date: 'dd/MM/yyyy, H:mm'}}</p>
      <p>{{article.articleText}}</p>
      <p>
        <button class="read" [routerLink]="['/article', article.id]" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">read
        </button>
      </p>
    </div>
  </ng-container>
  <div class="all-pagination">
    <pagination-controls class="my-pagination" (pageChange)="PAGE = $event"></pagination-controls>
  </div>
  <input class="pagination-number" type="number" [(ngModel)]="ITEMS_PER_PAGE" placeholder="set items per page">
</ng-container>

<div class="card">
<ng-container *ngIf="!articles.length">
  nothing to show you now
</ng-container>
</div>
