<ng-container *ngIf="!storageService.getCurrentUser()">

  <div class="container">
    <div class="horizont">
    <h1>Welcome</h1>
      <img src="https://img.icons8.com/dotty/80/000000/christmas-penguin--v2.png"/></div>
    <p>Please fill in this form to enter.</p>
    <hr>
    <label for="email"><b>Email</b></label>
    <input [(ngModel)]="loginModel.username" [ngModelOptions]="{standalone: true}" type="text" placeholder="Enter Email"
           name="email" id="email" required>
    <label for="psw"><b>Password</b></label>
    <input [(ngModel)]="loginModel.password" [ngModelOptions]="{standalone: true}" type="password"
           placeholder="Enter Password" name="psw" id="psw" required>

    <p>You always can enter without login!
      <a
        [routerLink]="['/wall']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">Let's go
      </a>.
    </p>
    <button type="submit" (click)="onSubmit()" class="logInButton" [routerLink]="['/wall']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">Log in
    </button>
  </div>
  <div class="container signUp">
    <p>Don’t have an account?
      <a
        [routerLink]="['/registration']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">Sign up
      </a>.
    </p>
  </div>
</ng-container>
