li {
  list-style-type: none; /* Убираем маркеры */
  display:inline-block;
  margin-right: 10px;
  border: none;
  outline: 0;
  padding: 6px;
  color: #324b4e;
  background-color: rgba(80, 131, 241, 0.35);
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  border-radius: 15px;
}
ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
  display:inline-block;

}
