<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<div class="card ">
  <section class="horizont">
  <h1>Add article</h1><img src="https://img.icons8.com/dotty/80/000000/edit-file.png"/>
  </section>
<ng-container class="container" *ngIf="storageService.getCurrentUser()">


<input type="text" class="title" [(ngModel)]="article.title" placeholder="Title">
<textarea type="text" class="descr" [(ngModel)]="article.articleText" placeholder="Text"></textarea>
<section class="Input">
  <input  id="inputField" type="text" [(ngModel)]="tagName" placeholder="Add tag">
  <button id="clearAll" class="add" (click)="addTag() "  ></button>
</section>
  <div class="error first" *ngIf="!validTagField"> <p>Input tag  name</p> </div>
  <ng-container *ngIf="article.tags">
    <ng-container *ngFor="let tag of article.tags ">
      <ul class="hr">
        <li>
          {{tag.tagName}}
          <button class="delete" (click)="deleteTag(tag)"></button>
        </li>
      </ul>
    </ng-container>
  </ng-container>
<section class="choose">
  <label>
  <input type="radio" (click)="setArticleStatusPublic()" [value]="true"  name="chooseField" checked >
    <span class="design"></span>
    <span  class="radioText">Public </span>
  </label>
  <label>
    <input type="radio" (click)="setArticleStatusDraft()" name="chooseField" [value]="false"  >
    <span class="design"></span>
    <span  class="radioText">Draft </span>
  </label>

</section>
  <input class="save"  type="button" (click)="addArticle()" value="Save" >
  <div class="error second" *ngIf="!validArticleFields"><p>Check title and text length </p></div>
</ng-container>
</div>

