<ng-container *ngIf="!storageService.getCurrentUser()">

  <div class="container">
    <div *ngIf="!submit">
      <div class="horizont">
      <h1>Registration</h1><img src="https://img.icons8.com/dotty/80/000000/pencil.png"/>
      </div>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <div *ngIf="suchEmailAlreadyExists"> Such email already exists</div>
      <label for="email"><b>Email</b></label>
      <input [(ngModel)]="userModel.email" [ngModelOptions]="{standalone: true}" type="text" placeholder="Enter Email"
             name="email" id="email" required>
      <label for="first-name"><b>First Name</b></label>
      <input [(ngModel)]="userModel.firstName" [ngModelOptions]="{standalone: true}" type="text"
             placeholder="Enter First Name" name="first-name" id="first-name" required>
      <label for="last-name"><b>Last Name</b></label>
      <input [(ngModel)]="userModel.lastName" [ngModelOptions]="{standalone: true}" type="text"
             placeholder="Enter Last Name" name="last-name" id="last-name" required>
      <label for="psw"><b>Password</b></label>
      <input [(ngModel)]="userModel.password" [ngModelOptions]="{standalone: true}" type="password"
             placeholder="Enter Password" name="psw" id="psw" required>
      <div *ngIf="!validData"> Check your data please</div>
      <hr>
      <p>You always can enter without registration!
        <a
          [routerLink]="['/wall']" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}" >Let's go
        </a>.
      </p>
    </div>
    <div *ngIf="!submit">
      <button type="submit" class="logInButton" (click)="onSubmit()" >Sign up
      </button>
    </div>
  </div>
  <div class="container signUp">
    <p>Already have an account?
      <a
        [routerLink]="['/login']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">Sign in
      </a>.
    </p>
  </div>
  <div class="container signUp" *ngIf="submit">
    <confirm
      [user]="userModel">
    </confirm>
  </div>
</ng-container>
