COMMENTS
<ng-container *ngIf="comments">
  <ng-container *ngFor="let comment of comments ">
    <ul>
      <li>
        user
        <ng-container *ngIf="comment.user">
          {{comment.user.firstName}}   {{comment.user.lastName}}
        </ng-container>
        commented: {{comment.message}}
        at {{comment.createdAt | date: 'dd/MM/yyyy, H:mm'}}
        <button *ngIf="comment.user.id == currentUserId" (click)="deleteComment(comment)">delete comment</button>
      </li>
    </ul>
  </ng-container>
</ng-container>
<hr/>
<ng-container *ngIf="currentUserId">
  <h5>Enter your comment here</h5>
  <input type="text" [(ngModel)]="text" placeholder="text">
  <input type="button" (click)="addComment()" value="upload">
</ng-container>
