COMMENTS
<ng-container *ngIf="comments">
  <ng-container *ngFor="let comment of comments ">
    <ul>
      <li>
        user
        <ng-container *ngIf="comment.user">
          {{comment.user.firstName}}   {{comment.user.lastName}}
        </ng-container>
        <ng-container *ngIf="comment.message">
        commented: {{comment.message}}
        at {{comment.createdAt | date: 'dd/MM/yyyy, H:mm'}}
        <button *ngIf="comment.user.id == storageService.getCurrentUser().id" (click)="deleteComment(comment)">delete comment</button>
        </ng-container>

      </li>
    </ul>
  </ng-container>
</ng-container>

<hr/>
<add-comment
  [articleId]="articleId"
  (onUpdate)="onUpdate($event)">
</add-comment>
