<ng-container *ngFor="let article of articles
    | paginate: { itemsPerPage: ITEMS_PER_PAGE, currentPage: PAGE }">
  <div class="card">
    <img src="https://i.pinimg.com/originals/4d/4b/50/4d4b50701aa71853ffc783add55a332d.jpg"/>
    <p class="title">{{article.title}}</p>
    <div class="updated">
      <div class="img"><img id ='cal' src="https://img.icons8.com/dotty/80/000000/calendar.png"/>
        <p>last update: {{article.updatedAt | date: 'MMMM dd, yyyy'}}  </p>  </div>
      <div class="img"><img id="com" src="https://img.icons8.com/dotty/80/000000/topic.png"/>
        <p> comments: <b> {{article.comments.length}}</b></p></div>
    </div>
    <p class="text">{{article.articleText}}</p>
    <p>
      <button class="read" [routerLink]="['/article', article.id]" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}">Read more <b> ⇨ </b>
      </button>
    </p>
  </div>
</ng-container>
<div class="all-pagination">
  <pagination-controls class="my-pagination" (pageChange)="PAGE = $event"></pagination-controls>
</div>
<select  class="pagination-number" name="num" id="num" [(ngModel)]="ITEMS_PER_PAGE">
  <option value="1">1</option>
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="15">15</option>
  <option value="20">20</option>
</select>
