<div class="u-clearfix u-header u-header header" id="sec-5f62">
  <a class="logo_img u-image u-logo u-image-1">
  </a>
  <ng-container *ngIf="storageService.getCurrentUser()">
    <a class="nav-login" [routerLink]="['/profile/' + storageService.getCurrentUser().id]" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}">
      {{storageService.getCurrentUser().firstName}}
      {{storageService.getCurrentUser().lastName}}
    </a>
    <a class="nav-login" [routerLink]="['/wall']" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}">Blog | KittyClysm</a>
    <a class="nav-login  hov" [routerLink]="['/search']" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}"><img src="https://img.icons8.com/dotty/80/000000/search.png"/><span class="log">Search</span></a>

    <a  class="nav-login hov" (click)="logout()" [routerLink]="['/login']" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}"> <img    src="https://img.icons8.com/dotty/80/000000/exit.png"/> <span class="log">Logout</span></a>
  </ng-container>
  <ng-container *ngIf="!storageService.getCurrentUser()">
    <a class="nav-login" [routerLink]="['/wall']" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}">Blog | KittyClysm</a>
    <a class="nav-login" [routerLink]="['/search']" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}">Search</a>
    <a class="nav-login" [routerLink]="['/login']" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}">Login</a>
  </ng-container>
</div>
