<ng-container *ngIf="article.user.id == storageService.getCurrentUser().id">
  ARTICLE REDACT

  <ng-container *ngIf="!showRedact">
    <button (click)="onClick()">update article</button>
    <button (click)="deleteArticle()">delete article</button>
  </ng-container>
  <ng-container *ngIf="showRedact">

    <button (click)="setArticleStatusPublic()">PUBLIC</button>
    <button (click)="setArticleStatusDraft()">DRAFT</button>

    title <input type="text" [(ngModel)]="article.title" placeholder="title">
    text <input type="text" [(ngModel)]="article.articleText" placeholder="text">

    <ng-container *ngIf="article.tags">
      <ng-container *ngFor="let tag of article.tags ">
        <ul>
          <li>
            {{tag.tagName}}
            <button (click)="deleteTag(tag)">delete tag</button>
          </li>
        </ul>
      </ng-container>
    </ng-container>

    <input type="text" [(ngModel)]="tagName" placeholder="add tag">
    <div *ngIf="!validTagField"> check your tag</div>
    <button (click)="addTag()">addTag</button>
    <div *ngIf="!validArticleFields">check title and text length</div>
    <button (click)="updateArticle()">save changes</button>
  </ng-container>
</ng-container>
