ARTICLE

<ng-container *ngIf="! article">
  <not-found></not-found>
</ng-container>

<ng-container *ngIf=" article">

  author: {{article.user.firstName}} {{article.user.lastName}}
  title: {{article.title}}
  text: {{article.articleText}}
  status: {{article.articleStatus}}

  <hr/>
  <tags
    [article]="article">
  </tags>

  <hr/>
  <article-redaction
    [article]="article"
    [currentUserId]="CURRENT_USER_ID">
  </article-redaction>

  <hr/>
  <comments
    [articleId]="article.id"
    [currentUserId]="CURRENT_USER_ID">
  </comments>

</ng-container>
