ARTICLE

<ng-container *ngIf="! article">
  <not-found></not-found>
</ng-container>

<ng-container *ngIf=" article">

  author: {{article.user.firstName}} {{article.user.lastName}}
  title: {{article.title}}
  text: {{article.articleText}}
  status: {{article.articleStatus}}
  created: {{article.createdAt | date: 'dd/MM/yyyy, H:mm'}}
  updated: {{article.updatedAt | date: 'dd/MM/yyyy, H:mm'}}

  <hr/>
  <tags
    [article]="article">
  </tags>

  <hr/>
  <article-redaction
    [article]="article">
  </article-redaction>

  <hr/>
  <comments
    [articleId]="article.id">
  </comments>

</ng-container>
