.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;

  /*margin: 20px 30%;*/
  text-align: center;
  font-family: "Times New Roman";
  border-radius: 15px;
}
.horizont{
  display:flex;
  flex-direction: row;
}
.horizont > img{
  margin-left: 10%;
  margin-right: 10%;

  height: 80px;
  /*//margin-left: 23%;*/
  margin-top: 5%;
}
h1{
  padding-top: 20px;
  font-family: Lato;
  color:#575757;
  margin-left: 40%;
  font-size: 22px;
}
.article{
  display: flex;
  flex-direction: column;
}
.author{
  font-size: 18px;
  font-weight: bold;
  color: rgba(87, 87, 87, 0.58);
}
.title{
  font-size: 30px;
  font-weight: bold;
  color: #575757;
  /*margin-left: 30%;*/
}

.status{
  color:green;
  margin-left: 60px;
}

.updated {
  color: grey;
  font-size: 15px;
  flex-direction:row ;
  justify-content: space-between;
  font-family: Roboto;
}
.descr{
  min-height: 400px;
}
textarea{
  font-size: 20px;
  font-family: "Times New Roman";
  width: 97.5%;
  padding: 15px;
  margin: 10px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 15px;
  resize: none;
}
textarea:active,:focus{
  outline: none;
  background-color: #ddd;
}

